.product {
  display: flex;
  flex-direction: column;
  max-height:600px;
  min-width: 500px;
  margin:10px;
  padding: 20px;
  width:50px;
  background-color: white;
  z-index:1;


}

@media (max-width:500px){
  .product{
    max-height:400px;
    min-width: 350px;
  
   
  }
}

.product_rating {
  display: flex;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product-price {
  margin-top: 5px;
}

.product-info {
  height: 100px;
  margin-bottom: 15px;
}

.product > button {
    background-color: orange;
    border:1px solid;
    border-color: #9c7e34;
    width:200px;
    height:30px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto

}


